<h1> <%= @item.name %> </h1>
  <br>
<% if @item.description.present? %>
  <h3> Description </h3>
    <div>
      <%= @item.description %>
    </div>
<% end %>

<% if @item.reviews.present? %>
  <h3> Reviews </h3>
    <div>
      <% @item.reviews.each do |review| %>
        <p><%= review.rating %></p>
        <p><%= review.description %></p>
      <% end %>
    </div>
<% end %>

<%= link_to "Add Review", new_item_review_path(@item) %>

<% if @item.user == current_user %>
  <%= link_to "Update Item", edit_item_path(@item) %>
<% end %>

<%= link_to "Back", root_path %>
