<div class="text-center category-header">
  <h4><%= @item.name %></h4>
</div>
<div class="row">
  <div class="columns small-8">
      <br>
    <div><img src=<%= @item.image %>></div>
    <br>
    <% if @item.description.present? %>
        <div class="text-center">
          <%= @item.description.capitalize %>
        </div>
    <% end %>
    <ul>
      <% if current_user %>
        <% if current_user.admin? || (@item.user == current_user) %>
          <li class="text-center"><%= link_to "Edit Item", edit_item_path(@item) %> |
              <%= link_to "Delete Item", item_path(@item), method: :delete %></li>
        <% end %>
      <% end %>
      <br>
    </ul>
  </div>

  <div class="right_text columns small-4 end right-nav">
    <br>
      <h4> Talk </h4>
      <p><%= link_to "Add Review", new_item_review_path(@item) %></p>
    <% if @item.reviews.present? %>

        <div>
          <ul>
          <% @item.reviews.each do |review| %>
            <li>Rating: <%= review.rating %></li>
            <li><%= review.description %></li>

            <% if current_user %>
              <% if current_user.admin? || (@user == review.user) %>
                <li class="small-font"><%= link_to "Edit", edit_item_review_path(@item, review) %> or
                <%= link_to "Delete", review_path(review), method: :delete %></li>
              <% end %>
            <% end %>
            <br>

          <% end %>
        </ul>
        </div>
    <% end %>
  </div>
</div>
