<div class="row">
  <div class="columns small-4">
    <h1 class="float_text"><%= @item.name %> </h1>
      <br>
    <div><img src=<%= @item.image %>></div>
    <br>
    <% if @item.description.present? %>
        <div>
          <%= @item.description %>
        </div>
    <% end %>
  </div>

  <div class="right_text">
    <ul>
      <% if @item.user == current_user %>
        <li><%= link_to "Update Item", edit_item_path(@item) %></li>
        <li><%= link_to "Delete Item", item_path(@item), method: :delete %></li>
      <% end %>
      <br>
      <li><%= link_to "Add Review", new_item_review_path(@item) %></li>
      <li><%= link_to "Back", root_path %></li>
    </ul>
  </div>
</div>

<div class="row talk">
  <div class="columns small-4">
    <% if @item.reviews.present? %>
      <h4> Talk </h4>
        <div>
          <% @item.reviews.each do |review| %>
            <p><%= review.rating %></p>
            <p><%= review.description %></p>

            <% if @user == review.user %>
              <p><%= link_to "Edit Review", edit_item_review_path(@item, review) %></p>
              <p><%= button_to "Delete Review", review_path(review), method: :delete %></p>
            <% end %>

          <% end %>
        </div>
    <% end %>
  </div>
</div>
