<div class="row">
  <h1 class="float-text"><%= @item.name %> </h1>
  <div class="columns small-8">

      <br>
    <div><img src=<%= @item.image %>></div>
    <br>
    <% if @item.description.present? %>
        <div>
          <%= @item.description %>
        </div>
    <% end %>
  </div>

  <div class="right_text columns small-4 end">
    <br>
    <ul>
      <% if current_user %>
        <% if current_user.admin? || (@item.user == current_user) %>
          <li><%= link_to "Edit Item", edit_item_path(@item) %></li>
          <li><%= link_to "Delete Item", item_path(@item), method: :delete %></li>
        <% end %>
      <% end %>
      <br>
      <li><%= link_to "Add Review", new_item_review_path(@item) %></li>
      <li><%= link_to "Back", category_path(@item.category) %></li>
    </ul>
  </div>
</div>

<div class="row">
  <% if @item.reviews.present? %>
    <h4> Talk </h4>
      <div>
        <ul>
        <% @item.reviews.each do |review| %>
          <li>Rating: <%= review.rating %></li>
          <li><%= review.description %></li>

          <% if current_user %>
            <% if current_user.admin? || (@user == review.user) %>
              <li class="small-font"><%= link_to "Edit", edit_item_review_path(@item, review) %> or
              <%= link_to "Delete", review_path(review), method: :delete %></li>
            <% end %>
          <% end %>
          <br>

        <% end %>
      </ul>
      </div>
  <% end %>
</div>
<div class="text-center">
	<%= link_to "Home", root_path %>
</div>
