<div class="text-center category-header">
  <h4><%= @item.name %></h4>
</div>
<div class="row">
  <div class="columns small-8">
      <br>
    <div><img src=<%= @item.image %>></div>
    <br>
    <% if @item.description.present? %>
        <div class="text-center">
          <%= @item.description.capitalize %>
        </div>
    <% end %>
    <ul>
      <% if current_user %>
        <% if current_user.admin? || (@item.user == current_user) %>
          <li class="text-center"><%= link_to "Edit Item", edit_item_path(@item) %> |
              <%= link_to "Delete Item", item_path(@item), method: :delete %></li>
        <% end %>
      <% end %>
      <br>
    </ul>
  </div>

  <div class="right_text columns small-4 end right-nav">
    <br>
      <h4> Talk </h4>
      <p><%= link_to "Add Review", new_item_review_path(@item), class: "add-review" %></p>

    <div class="container">

        <% if @reviews.present? %>
              <% @reviews.each do |review| %>
                <ul>
                  <div class="row">
                    <div class="columns small-6">
                      <li><%= review.description.capitalize %></li>
                      <li>Rating: <%= review.rating %></li>
                        <% if current_user.admin? || (@user == review.user) %>
                          <li class="small-font"><%= link_to "Edit", edit_item_review_path(@item, review) %> or
                          <%= link_to "Delete", review_path(review), method: :delete %></li>
                        <% end %>
                    </div>
                    <div class="columns small-6 right">
                      <% if current_user %>
                        Votes: <span class= 'vote-total'><%= review.total_score %></span>
                        <br>
                        <%= link_to image_tag("http://i.imgur.com/PmgCU9S.png", class: "vote-image"), review_upvotes_path(review), class: 'upvote' %>
                        <%= link_to image_tag("http://i.imgur.com/VREp02Z.png", class: "vote-image"), review_downvotes_path(review), class: 'downvote' %>
                      <% end %>
                    </div>
                    <br>
                  </div>
                </ul>
              <% end %>
              <br>
        </div>
      <% end %>
    </div>
  </div>
</div>
