<div class="text-center category-header">
  <h4> Edit Review </h4>
</div>

<div class="container">
  <%= form_for [@item, @review] do |f| %>
    <div class="row">
      <div class="field columns small-3">
        <%= f.label :rating %>
        <%= f.collection_radio_buttons :rating, Review::RATINGS, :to_i, :to_i %>
      </div>
    </div>
    <div class="row">
      <div class="field columns small-3">
        <%= f.label :description %>
        <%= f.text_area :description, class: "text-field" %>
      </div>
    </div>
    <br>
    <div class="row text-center">
      <div class="field columns small-3 ">
        <%= f.submit "Submit", class: "submit-form" %>
      </div>
    </div>
  <% end %>
  <br>
  <br>
</div>
